/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL */
.container {
    width: 80%;
    margin: 0 auto;
}


/* HEADER */
header {
    padding: 10px;
}

header img,
header h1 {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* NAV */
.nav-container {

    background-color: white;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 4px;
}

.button {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;

}

.blue {
    border: 2px solid #47ADF1;
    background-color: #47ADF1;
    color: white;
}

.white {
    border: 2px solid #ced1d3;
    background-color: white;
    color: #ced1d3;
}

.button:hover {
    text-decoration: underline;
}

/* MAIN */
.task-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 0 0 10px 10px;
}

main {
    background-color: #F6F8F9;
    padding: 20px 0;
}


.task-list {
    margin-top: 30px;
}

.title-bar {
    font-size: large;
    margin-top: 30px;
}

.task-item {
    margin-top: 15px;
}

.circle-icon {
    display: inline-block;
    color: black;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;

}

.circle-check {
    color: green;
    border: 1px solid green;
}

.cross-check {
    color: red;
    border: 1px solid red;
}

.task-name {
    font-weight: 600;
}

.lable {
    display: inline-block;
    border-radius: 15px;
    padding: 3px 7px;
    margin-left: 2px;
    font-size: 12px;

}

.editorial {
    border: 1px solid #47ADF1;
    background-color: #47ADF1;
    color: white;
}

.goals {
    border: 1px solid #9C72E4;
    background-color: #9C72E4;
    color: white;
}

.recruiting {
    border: 1px solid #64C0A9;
    background-color: #64C0A9;
    color: white;
}

.mobile {
    border: 1px solid #F29E33;
    background-color: #F29E33;
    color: white;
}

.website {
    border: 1px solid #D863A1;
    background-color: #D863A1;
    color: white;

}

.sales {
    border: 1px solid #B0C926;
    background-color: #B0C926;
    color: white;

}